# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.metals/
.metals

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

graphit-group-website/staticfiles/
graphit-group-website/media/

# PyCharm
.idea/

# Windows specific
Thumbs.db
.DS_Store

# virtual environment
venv/
*.pyc

# Environment variables
.env

# Minio

../minio.deb
./minio.deb
minio.deb