{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Лабораторное оборудование и приборы - "Аналитэксперт"{% endblock %}</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap_litera.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Дополнительные стили -->
    {% block extra_css %}
    {% endblock %}
    <script src="//code.jivo.ru/widget/MfayEIpzar" async></script>
</head>
<body>
    <header>
        <!-- Меню сайта -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="{% static 'images/logo.png' %}" alt="Логотип" style="height: 50px;width: 50px;">
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-12" style="font-size: 1em;">Аналитэксперт</div>
                            <div class="col-sm-12" style="font-size: 0.5em;">ОСНАЩЕНИЕ ЛАБОРАТОРИЙ</div>
                        </div>
                    </div>
                </div>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse" id="navbarColor04">
                <ul class="navbar-nav me-auto">
                  <!-- Категории -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle category-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Категории</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item category-item" href="#" data-category="all">Все категории</a>
                      {% for category in categories %}
                      <a class="dropdown-item category-item" href="#" data-category="{{ category.id }}">{{ category.name }}</a>
                      {% endfor %}
                    </div>
                  </li>
                  <!-- Производители -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle manufacturer-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Производители</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item manufacturer-item" href="#" data-manufacturer="all">Все производители</a>
                      {% for manufacturer in manufacturers %}
                      <a class="dropdown-item manufacturer-item" href="#" data-manufacturer="{{ manufacturer.id }}">{{ manufacturer.name }}</a>
                      {% endfor %}
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-secondary" href="/?category=all&manufacturer=all">Сбросить фильтры</a>
                  </li>
                </ul>
                <!-- Кнопка сброса фильтров -->
                
              </div>
  
            </div>
          </nav>
    </header>

    <!-- Основное содержимое страницы -->
    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>
    <div class="container mt-4">
      <ul class="contacnts-bar">
        <li>Иса Исаев</li>
        <li>|</li>
        <li>+7(977)838-01-30</li>
        <li>|</li>
        <li>isaev@analytexpert.pro</li>
      </ul>
    </div>
    <div class="container mt-2">
      <ul class="footer-links">
          {% for page in base_pages %}
              <li><a href="/{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
      </ul>
    </div>
    <footer class="bg-secondary text-center text-lg-start mt-2">
      <div class="container-fluid">
          <div class="text-center p-3">
              © 2024 Аналитэксперт: <a class="text-dark" href="#">analytexpert.pro</a>
          </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        function updateDropdownText() {
          const currentCategory = new URLSearchParams(window.location.search).get('category');
          const currentManufacturer = new URLSearchParams(window.location.search).get('manufacturer');
          const categoryText = currentCategory && currentCategory !== 'all' ? document.querySelector(`.category-item[data-category="${currentCategory}"]`).textContent : "Категории";
          const manufacturerText = currentManufacturer && currentManufacturer !== 'all' ? document.querySelector(`.manufacturer-item[data-manufacturer="${currentManufacturer}"]`).textContent : "Производители";
    
          document.querySelector('.category-toggle').textContent = categoryText;
          document.querySelector('.manufacturer-toggle').textContent = manufacturerText;
        }
    
        // Обновляем текст при загрузке
        updateDropdownText();
    
        // Обработка выбора категории
        document.querySelectorAll('.category-item').forEach(item => {
          item.addEventListener('click', event => {
            const categoryName = event.target.textContent;
            const categoryId = event.target.getAttribute('data-category');
            const manufacturerId = new URLSearchParams(window.location.search).get('manufacturer') || 'all';
            document.querySelector('.category-toggle').textContent = categoryName;
            window.location.href = `/?category=${categoryId}&manufacturer=${manufacturerId}`;
          });
        });
    
        // Обработка выбора производителя
        document.querySelectorAll('.manufacturer-item').forEach(item => {
          item.addEventListener('click', event => {
            const manufacturerName = event.target.textContent;
            const manufacturerId = event.target.getAttribute('data-manufacturer');
            const categoryId = new URLSearchParams(window.location.search).get('category') || 'all';
            document.querySelector('.manufacturer-toggle').textContent = manufacturerName;
            window.location.href = `/?category=${categoryId}&manufacturer=${manufacturerId}`;
          });
        });
      });
    </script>
    

    <!-- Подключение Bootstrap JS и зависимостей -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Дополнительные скрипты -->
    {% block extra_js %}
    {% endblock %}
</body>
</html>
